<template>
  <div class="projects page">
    <div>
      <section class="hero is-medium is-info is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Projects</h1>
            <h2 class="subtitle">A List of Projects TwoDex has Contributed to or have Made</h2>
          </div>
        </div>
      </section>
    </div>
    <div class="container">
      <div class="columns">
        <aside class="column is-2 is-narrow-mobile is-fullheight section">
          <p class="menu-label is-active">General</p>
          <ul class="menu-list">
            <li><router-link to="/projects">Overview</router-link></li>
          </ul>
          <p class="menu-label is-active">NPM</p>
          <ul class="menu-list">
            <li>
              <router-link to="/projects/cordclient">cordclient</router-link>
            </li>
            <li>
              <router-link to="/projects/hryra">hryra.js</router-link>
            </li>
            <li>
              <router-link to="/projects/betalogger">betalogger</router-link>
            </li>
          </ul>
          <p class="menu-label">Discord</p>
          <ul class="menu-list">
            <li>
              <router-link to="/projects/defymusic">defymusic</router-link>
            </li>
          </ul>
        </aside>
        <section class="column section">
          <h1 class="title">Overview</h1>

          <p>
            TwoDex doesn't have many projects at the moment, but we plan on having different types of projects made by different group members under the
            <a>@twodex</a> namespace.
          </p>

          <br />

          <div class="message is-info is-4 is-rounded">
            <div class="message-body is-4">
              <p>If you want to create a project or contribute please contact us through our Discord Server, Thanks!</p>

              <br />

              <a href="/link?to=discord" class="button is-rounded is-link">
                <span class="icon">
                  <i class="fab fa-discord" />
                </span>
                <span>Join!</span>
              </a>
            </div>
          </div>

          <br />

          <h2 class="subtitle">Links</h2>

          <ul>
            <li><a href="https://github.com/twodex">TwoDex Github</a></li>
            <li>
              <p>
                <a href="https://twodex.ml/">TwoDex Site</a> (<a href="https://gitlab.com/melike2d/twodex-site/">source</a>)
              </p>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</template>

<style lang="sass">
html, body, #app 
  height: 100%;

#app
  min-height: 100%
  //display: flex
  //flex-direction: column

.main-content 
  //flex: 1;

.footer 
  margin-top: -12px

</style>