<template>
  <div class="404 page">
    <section class="hero is-danger is-fullheight-with-navbar is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Under Construction</h1>
          <h2 class="subtitle">
            Click <a v-on:click="goBack()">here</a> to go back!
          </h2>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    methods: {
    goBack() {
      window.history.back();
    },
  },
});
</script>