<template>
  <div class="team">
    <section class="section">
      <div class="container">
        <h1 class="title">Team</h1>
        <h2 class="subtitle">The team members that are apart of TwoDex.</h2>

        <div class="columns" v-if="teamMembers && teamMembers.length">
          <div
            class="column is-dark is-one-third"
            v-for="member of teamMembers"
            v-bind:key="member.id"
          >
            <div class="card is-light">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img v-bind:src="member.avatar" alt="Member avatar image" class="is-rounded" />
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{ member.name }}</p>
                    <p class="subtitle is-6">@{{ member.tag }}</p>
                  </div>
                </div>

                <div class="content">{{ member.desc }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style scoped lang="sass">
@import '@/../node_modules/bulma/bulma.sass'

.card
  border-radius: 10px

</style>

<script lang="ts">
import Vue from "vue";
import { Member } from "../interfaces/Member";

export default Vue.extend({
  name: "team",
  data(): { teamMembers: Member[] } {
    return {
      teamMembers: [{
        tag: "2D#5773",
        id: "396096412116320258",
        name: "MeLike2D",
        desc: "Hello! I'm 2D, the Owner of TwoDex, and the Lead Developer for most TwoDex Projects!",
        avatar: "https://cdn.discordapp.com/avatars/396096412116320258/0a98b504538ca57e49f5b596b62dff95.png",
      }],
    };
  },
});
</script>